:root {
  --bg-color: #F1F3F4;
  --main-font-faminily: 'Roboto', sans-serif;

  --page-width: 1300px;

  --color-bluegray: #78909C;
  --color-gray-50: #A6ADAF;
  --color-gray-40: #C6CACC;



  --color-red: #EA3D2F;
  --color-green: #2FA84F;
  --color-main: #3E4345;
}
body {
  background: var(--bg-color);
  font-family: var(--main-font-faminily);
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app {
  width: 100%;
  border-radius: 3px;
  padding-bottom: 200px;

  display: grid;
  align-items: flex-start;
  grid-template-rows: auto auto;
}

.search-container {
  margin: 0 auto 80px auto;
  display: grid;
  grid-gap: 6px;
  justify-content: center;
  max-width: var(--page-width);
  width: var(--page-width);
}

.search-container__title {
  font-size: 34px;
  padding-top: 100px;
  margin-bottom: 32px;
  text-align: center;
}

.search-container__search {
  display: flex;
  gap: 16px;
  position: relative;
}

.search-container__search svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(8px);
}

.search-container__input {
  border: none;
  border-radius: 30px;
  height: 48px;
  padding: 0 24px 0 40px;
  font-size: 20px;
  width: 600px;
}

.search-container__btn {
  border: none;
  border-radius: 30px;
  height: 48px;
  padding: 0 24px;
  font-size: 20px;
  background: var(--color-bluegray);
  color: white;
}

.search-results {
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  margin: 0 auto;
}

.search-results__block {
  width: auto;
  display: grid;
  gap: 16px;
}


.message {
  width: var(--page-width);
  text-align: center;
  font-size: 18px;
  color: var(--color-gray-50);
}

.message.message--error {

}

.message.message--message {

}


.c-card {
  background: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.24);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.c-card:hover {
  cursor: pointer;
  background: rgba(255,255,255,.99);
}

.c-card a {
  text-decoration: none;
}
.c-card a:hover {
  text-decoration: underline;
}

.c-card a:hover {

}

.c-card.c-card--task {

}
.c-card.c-card--merge {

}

.c-card__header {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 4px;
}
.c-card__body {
  padding-top: 24px;
}

.c-card__link {
  color: var(--color-main);
}

.c-card__toggle-chevron {
  margin-left: auto;

}

.c-card__icon {
  color: var(--color-gray-40);
}
.c-card__title {
  font-size: 20px;
}
.c-card__executor {
  display: flex;
  align-items: center;
  gap: 10px
}
.c-card__status {}
.c-card__status--in-progress {
  color: var(--color-green);
}

.c-card__deploy-status {

}

.c-card__deploy-status--deployed {
  background: var(--color-green);
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 14px;
}

.c-card__deploy-status--not-deployed {
  background: var(--color-red);
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 14px;
}


.c-header {
  height: 64px;
  width: 100%;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.24);
  display: flex;
  align-items: center;
  padding: 0;
  gap: 60px;

}
.c-header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 24px;
}
.c-header__img {
  height: 64px;
}
.c-header__logo-text {
  font-weight: bold;
  font-size: 18px;
}

.c-header__user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 24px;
}
.c-header__user-img {
  height: 40px;
}
.c-header__user-text {}


.c-header__notification {
  display: flex;
  align-items: center;
  gap: 0;
  margin-left: auto;
}
.c-header__notification-icon {}
.c-header__notification-text {}

.intro-image {
  margin: 0;
  display: flex;
  justify-content: center;
}
