:root {
  --bg-color: #F1F3F4;
  --main-font-faminily: 'Roboto', sans-serif;

  --page-width: 1300px;

  --color-bluegray: #78909C;
  --color-gray-50: #A6ADAF;
}
body {
  background: var(--bg-color);
  font-family: var(--main-font-faminily);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app {
  width: 100%;
  height: 300px;
  border-radius: 3px;

  display: grid;
  align-items: flex-start;
  grid-template-rows: auto auto;
  justify-content: center;
}

.search-container {
  padding: 30px;
  display: grid;
  grid-gap: 6px;
  justify-content: center;
  max-width: var(--page-width);
  width: var(--page-width);
}

.search-container__title {
  font-size: 34px;
  padding-top: 100px;
  margin-bottom: 32px;
  text-align: center;
}

.search-container__search {
  display: flex;
  gap: 16px;
  position: relative;
}

.search-container__search svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(8px);
}

.search-container__input {
  border: none;
  border-radius: 30px;
  height: 48px;
  padding: 0 24px 0 40px;
  font-size: 20px;
  width: 920px;
}

.search-container__btn {
  border: none;
  border-radius: 30px;
  height: 48px;
  padding: 0 24px;
  font-size: 20px;
  background: var(--color-bluegray);
  color: white;
}

.search-results {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.search-results__block {
  width: 200px;
  min-height: 50px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;

  display: grid;
}


.message {
  width: var(--page-width);
  text-align: center;
  font-size: 18px;
  color: var(--color-gray-50);
}

.message.message--error {

}

.message.message--message {

}
