.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app {
  border: 1px solid grey;
  width: 100%;
  height: 300px;
  border-radius: 3px;

  display: grid;
  align-items: flex-start;
  grid-template-rows: 100px auto;
  justify-content: center;
}

.search-container {
  padding: 30px;
  display: grid;
  grid-gap: 6px;
  justify-content: center;
}

.search-container__search {
  display: flex;
  gap: 4px
}

.search-container__input {
  outline: none;
  padding: 3px 7px;
}

.search-container__btn {
  padding: 3px 7px;
}

.search-results {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.search-results__block {
  width: auto;
  min-height: 50px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;

  display: grid;
}
